body {
  background-color: black !important;

}
.wrapper, html, body {
  margin: 0 !important;
  height: 100% !important;
}
dl{
  color: white;
  font-size: 20px;
}

p {
  font-size:20px;
}

dt{
  color: white;
  font-size: 20px;
}

h1 {
  color: white;
  font-size: 40px;
}

dd{
  color: white;
  padding-left: 40px;
  font-size: 20px;
}

.card-media {
  background-color: rgba(255, 255, 255, 0.05) !important;
  color: white;
}

.py-footer {
    padding-top: 90px !important;
    padding-bottom: 120px !important;
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}
.bg-black {
  background-color: #0f0e0e;
}

.nav-link {
  color: white !important;
  padding: 25px 20px !important;
  font-size: 20px;
}

.bg-content {
  background-color: #9b9b9b !important;
}

.card-img-top {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}
.card-vid-top {
  width: 100%;
  object-fit: cover;
}

.mx-footer {
  margin-left: 366px !important;
  margin-right: 366px !important;
}

.footer-slogan {
  color: #9b9b9b !important;
  font-size: 18px !important;
  line-height: 25px !important;
  width: 180px !important;
}

.footer-links {
  padding-left: 0px !important;
  font-size: 18px !important;
}

.footer-links a {
  color: #9b9b9b !important;
  text-decoration: none !important;
}

.footer-links li {
  list-style-type: none !important;
}

.footer-icons {
  padding-left: 10% !important;
  max-width: 10%;
}
.bg-blue {
  background-color: #00adef !important;
}

.lh-2 {
  line-height: 3em !important;
  font-size: 24px;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.mission-block {margin-bottom: 52px;}


.header-img {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(img/Bridgeport-Connecticut.jpg);
}


.resource-img {
    height: 250px;
    background-color: #241E20;
    margin-bottom: 22px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-image: url(img/logo.jpg);
    /* img is overrided inline style */
    /* Todo: add resources through js */
}
.affiliate-block {min-width: 230px; padding-left: 0px; padding-right: 0px;}

.affiliate-img{
  height: 220px;
  width: 230px;
  margin-bottom: 22px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-image: url(img/logo.jpg);
  /* img is overrided inline style */
  /* Todo: add resources through js */
}
.affiliate-title {
  color: #241E20;
  line-height: 1em;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 76px;
  margin-bottom: 52px;
  margin-top: 30px;
  word-wrap: break-word;
  font-weight: bold;
}
.mission-container {
  background-color: rgb(255, 255, 255, .012);
  padding: 50px;
}
.mission-title {
  word-wrap: break-word;
  font-size: 34px;
  font-weight: 500;
  padding-bottom: 50px;
}

.headers {
  font-size: 76px;
  font-weight: bold;
}

.resource-text {
  font-size: 20px;
  line-height: 1.6em;

}
.resource-title {
  color:rgb(100, 98, 98);
  line-height: 2em;
  text-transform: uppercase;
  font-size: 22px;
}

.resource-block a, .resource-block a:hover {
  color: black;
  text-decoration: none;
}
.donateBtn {
  background-color: #00adef !important;
}

.display-5 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.resourceHeaders {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
}

.resourceText {
  font-size: 20px;
}

.intro-container {
  padding: 50px;
}

.intro-text {
  line-height: 2em;
  font-size: 24px;
}

.intro-text-bigger {
  line-height: 1.5em;
  font-size: 44px;
  font-weight: 500;
}

.b-r {
  border-right: white thin solid;
}

#carousel1 .nav a small {
  display: block;
}
#carousel1 .nav {
  background: #eee;
}
.nav-justified > li > a {
  border-radius: 0px;
}
.nav-pills > li[data-slide-to="0"].active a {
  background-color: #b4d9a7;
}
.nav-pills > li[data-slide-to="1"].active a {
  background-color: #4f77cb;
}
.nav-pills > li[data-slide-to="2"].active a {
  background-color: #d11e4f;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


.ss-blue{color: #00adef}
label {color: #fff;}
h2{color: #fff}
h4{color: #fff}
p {color: #fff;}
ul {color: #fff; text-align: center; list-style-position: inside;}
.resourceBullets{font-size: 40px; list-style-type: none;}
b {text-decoration: underline;}
.contactInfo {text-align: center; font-size: 50px}
.contactHeaders {
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  text-decoration: underline;
}
li a:hover {text-decoration: none; color: #ff5910;}
#mobile {display: none;}
#desktop {display: inline;}
@media only all and (max-width: 768px) {
  #mobile {display: inline;}
  #desktop {display: none;}
}

.partnerHeader {  text-align: center;
  font-size: 60px;
  color: #ffffff;
  text-decoration: underline;}
