.py-footer {
    padding-top: 90px !important;
    padding-bottom: 120px !important;
  }

.mx-footer {
  margin-left: 366px !important;
  margin-right: 366px !important;
}

.footer-slogan {
  color: #9b9b9b !important;
  font-size: 12px !important;
  line-height: 25px !important;
  margin: 0 0 35px !important;
  width: 140px !important;
}


.bg-black {
  background-color: black !important;
}